<h1>Daily plan goes here</h1>
<%= form_tag("/daily_plans/#{@plan.id}", method: :patch) do %>
	<table>
	<% @plan.items.each do |item| %>
    <% @item = item; item_name = item.name.squish.gsub(' ', '-')%>
		<tr class="food-item" id="<%= item_name %>">
			<td>
        <%= number_field(:item, :quantity, name: "items[#{item_name}]", id: "#{item_name}-quantity") %>
        change name to params 
			</td>
			<td><%= item.name %></td>
			<td><%= item.total_protein %></td>
			<td><%= item.total_calories %></td>
		</tr>
	<% end %>
		<tr>
			<td></td>
			<td></td>
			<td><%= @plan.total_protein %></td>
			<td><%= @plan.total_calories %></td>
		</tr>
	</table>
	<%= submit_tag("Save") %>
<% end %>
